body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.message-section {
  width: 50%; /* Occupy half the container width */
  margin-top: 25px;
  padding: 1rem 3vw;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Change from center to start */
  align-items: flex-start; /* Change from center to start */
}
.message-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

#message-head{
  font-size: 22px;
  margin-right: 14px;
}

.compose-button {
  background-color: #ffd700; /* Golden color for emphasis */
  color: #000;
  padding: 4px 8px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.compose-button:hover {
  background-color: #ffb700;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%; /* Adjust as per your need */
  margin-left: 5%; /* This gives a left spacing */
}

.message-card {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

.message-card:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

.message-link {
  text-decoration: none;
  color: #fff;
}

.message-link h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffd700; /* Golden color for emphasis */
}
.main-container {
  display: flex;
}
