<div class="nasa-message-container">
  <h2 class="nasa-message-header">Message Detail</h2>
  <div class="nasa-message-info">
    <div class="nasa-info-label">From:</div>
    <div class="nasa-info-content">{{ message.sender }}</div>
  </div>
  <div class="nasa-message-info">
    <div class="nasa-info-label">To:</div>
    <div class="nasa-info-content">{{ message.recipient }}</div>
  </div>
  <div class="nasa-message-info">
    <div class="nasa-info-label">Subject:</div>
    <div class="nasa-info-content">{{ message.subject }}</div>
  </div>
  <div class="nasa-message-body">
    <div class="nasa-info-label">Content:</div>
    <div class="nasa-info-content">{{ message.content }}</div>
  </div>
</div>
