<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenSci-Connect</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="navbar-brand">OpenSci Connect</a>
        <div class="nav-items">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li><a href="{% url 'user_profile' %}">Profile</a></li>
            <li><a href="{% url 'message_list' %}">Messages</a></li>

            {% if user.is_authenticated %}
            <li class="welcome">Welcome {{user.username}}</li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; {% now "Y" %} NASA Open Science</p>
    </footer>
  </body>
</html>
