<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenSci-Connect</title>
    {% load static %}
    <link rel="icon" href="https://i.imgur.com/91mvIQV.jpeg" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'css/projectList.css' %}" rel="stylesheet" />
    <link href="{% static 'css/projectDetails.css' %}" rel="stylesheet" />
    <link href="{% static 'css/userProfile.css' %}" rel="stylesheet" />
    <link href="{% static 'css/messageList.css' %}" rel="stylesheet" />
    <link href="{% static 'css/messageForm.css' %}" rel="stylesheet" />
    <link href="{% static 'css/messageDetails.css' %}" rel="stylesheet" />
    <link href="{% static 'css/createProjects.css' %}" rel="stylesheet" />
    <link href="{% static 'css/neowsFeed.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="navbar-brand">OpenSci Connect</a>
        <div class="nav-items">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li>
              <a href="{% url 'mars_rover_api' %}">Mars Rover Pictures</a>
            </li>

            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="javascript:void(0)" id="dropbtn">{{user.username}}</a>
              <div class="dropdown-content">
                <a href="{% url 'user_profile' %}">Profile</a>
                <a href="{% url 'message_list' %}">Messages</a>
                <a href="{% url 'logout' %}">Log out</a>
              </div>
            </li>

            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; {% now "Y" %} NASA Open Science</p>
    </footer>
  </body>
</html>
