{% extends "base.html" %}
{% block content %}
{% if epic_data %}
<section class="epic-images-section">
  <h2>EPIC Images</h2>
  {% for entry in epic_data %} {% with date=entry.date|date:"Y/m/d" %} <img
  src="https://api.nasa.gov/EPIC/archive/natural/{{ date|slice:":4" }}/{{
  date|slice:"5:7" }}/{{ date|slice:"8:10" }}/png/{{ entry.image
  }}.png?api_key=YOUR_API_KEY_HERE" alt="{{ entry.caption }}" />
  <p>{{ entry.caption }}</p>
  {% endwith %} {% endfor %}
</section>
{% endif %} 
{% endblock content %}