{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-container">
    <!-- Message List Section -->
    <section class="message-section">
        <div class="message-header">
            <h2 id="message-head">Message List</h2>
            <a href={% url "create_message" request.user.id %} class="compose-button">Compose a Message</a>
        </div>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            <div class="message-card" onclick="loadMessageDetail({{ message.id }})">
              <h3>{{ message.subject }}</h3>
            </div>
            {% endfor %}
        {% else %}
            <h3>You have no messages yet</h3>
        {% endif %}
        </div>
    </section>

    <!-- Message Detail Section (initially empty) -->
    <section class="nasa-message-detail-section" id="messageDetail">
        <!-- Message Detail content will be loaded here -->
    </section>
</div>

<script>
    function loadMessageDetail(messageId) {
    fetch(`/get_message_detail/${messageId}/`)
        .then(response => response.text())
        .then(data => {
            document.getElementById('messageDetail').innerHTML = data;
        });
}


</script>
{% endblock %}

