{% extends "base.html" %} {% block content %}

<section class="neows-section">
  <h1>🚀 NASA's Registered Asteroids Near Earth 🚀</h1>
  <h2>Browse Asteroids</h2>

  <div class="neows-grid">
    {% for asteroid in asteroids %}
    <div class="neows-grid-item">
      <h3>{{ asteroid.name }} ☄️</h3>

      <p>
        <strong>Estimated Diameter:</strong>
        {{
        asteroid.estimated_diameter.meters.estimated_diameter_min|floatformat:2
        }} km - {{
        asteroid.estimated_diameter.meters.estimated_diameter_max|floatformat:2
        }} km
      </p>

      <p>
        <strong>Next Close Approach:</strong>
        {{ asteroid.close_approach_data.0.close_approach_date }} at a distance
        of {{
        asteroid.close_approach_data.0.miss_distance.kilometers|floatformat:2 }}
        km
      </p>
    </div>
    {% empty %}
    <p>No asteroids data available for the selected date range.</p>
    {% endfor %}
  </div>
</section>

{% endblock content %}
