{% extends "base.html" %} {% load static %} {% block content %}
<section class="project-detail-section">
  <div class="project-container">
    <div class="nav-buttons">
      <a href="#" onclick="window.history.back();" class="back-button"
        >← Back</a
      >
    </div>

    <div class="project-header">
      <h2>Project Detail: {{ project.title }}</h2>
    </div>

    <div class="project-info">
      <div class="info-label">Creator:</div>
      <div class="info-content"><a href={% url 'create_message' user.id %} style="color:{{red}}"> {{ project.creator }} </a></div>
    </div>

    <div class="project-info">
      <div class="info-label">Description:</div>
      <div class="info-content">{{ project.description }}</div>
    </div>

    <div class="project-info">
      <div class="info-label">Required Skills:</div>
      <div class="info-content">{{ project.required_skills }}</div>
    </div>
  </div>
</section>
{% endblock %}
